@using Microsoft.AspNetCore.Http
@using Gymone.Entities
@using Gymone.Web.Common
@using Newtonsoft.Json
@using System
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/css/morris.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/metismenu.min.css" rel="stylesheet">
    <link href="~/css/icons.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    @RenderSection("Scripts", false)
    <!-- jQuery  -->
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/metismenu.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.slimscroll.js" asp-append-version="true"></script>
    <script src="~/js/waves.min.js" asp-append-version="true"></script>
    <!--Morris Chart-->
    <script src="~/js/morris.min.js" asp-append-version="true"></script>
    <script src="~/js/raphael.min.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.init.js" asp-append-version="true"></script>
    <!-- App js -->
    <script src="~/js/app.js" asp-append-version="true"></script>

    <title>:: Gymone ::</title>
    <style>
        #divloader {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: #e6f1f036;
            z-index: 99;
            text-align: center;
        }
    </style>
</head>
<body>

     

    <div id="divloader" style="display:none;">
        <img src="~/images/Spinner.gif" style="height:205px;width:200px;top:0;margin-top:15%;" />
    </div>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span class="logo-light">
                        <i class="mdi mdi-camera-control"></i> Gymone
                    </span>
                    <span class="logo-sm">
                        <i class="mdi mdi-camera-control"></i>
                    </span>
                </a>
            </div>

            <nav class="navbar-custom">
                <ul class="navbar-right list-inline float-right mb-0">

                    <!-- full screen -->
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-arrow-expand-all noti-icon"></i>
                        </a>
                    </li>



                    <li class="dropdown notification-list list-inline-item">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/images/user-4.jpg" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <a class="dropdown-item" asp-area="" asp-action="ChangePassword" data-ajax="true" data-ajax-method="get"
                                   data-ajax-loading="#divloader"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("ChangePassword","Account")">
                                    <i class="mdi mdi-account-circle"></i> Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/Account/Logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
                            </div>
                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>

                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Menu</li>
                        <li>

                            @if (JsonConvert.DeserializeObject<string>(HttpContextAccessor.HttpContext.Session.GetString("LoginType")) == "Admin")
                            {
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Dashboard </span>
                                </a>

                                <a asp-area="" asp-action="GetUsers" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("GetUsers","Admin")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> User Accounts </span>
                                </a>
                                <a asp-area="" asp-action="Schemes" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("Schemes","Admin")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Schemes</span>
                                </a>
                                <a asp-area="" asp-action="Plans" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("Plans","Admin")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Plans</span>
                                </a>
                                <a asp-area="" asp-action="RolesAssignedtoUsers" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("RolesAssignedtoUsers","Admin")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Roles Assigned to Users</span>
                                </a>
                                <a asp-area="" asp-action="Users" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("Users","Admin")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Users</span>
                                </a>

                                <a asp-area="" asp-action="YearwiseReport" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("YearwiseReport","Admin")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Yearwise Report</span>
                                </a>
                                <a asp-area="" asp-action="MonthwiseReport" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("MonthwiseReport","Admin")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Monthwise Report</span>
                                </a>
                                <a asp-area="" asp-action="MemberDetailsReport" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("MemberDetailsReport","Admin")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Members</span>
                                </a>

                            }
                            else if (JsonConvert.DeserializeObject<string>(HttpContextAccessor.HttpContext.Session.GetString("LoginType")) == "SystemUser")
                            {
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Dashboard </span>
                                </a>

                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Register Member </span>
                                </a>
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Payment Listing </span>
                                </a>
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Payment Renewal </span>
                                </a>
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Receipt / Candidate </span>
                                </a>
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Yearwise Report  </span>
                                </a>
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Monthwise Report  </span>
                                </a>
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Details Member Report  </span>
                                </a>
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> All Member List </span>
                                </a>
                                <a href="/Home/UserDashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Renewal Report </span>
                                </a>
                            }
                            else
                            {
                                <a asp-area="" asp-action="AccessDenied" data-ajax="true" data-ajax-method="get"
                                   data-ajax-update="#divcontainerfluid" data-ajax-mode="replace" data-ajax-url="@Url.Action("AccessDenied","Home")"
                                   data-ajax-loading="#divloader"
                                   class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> AccessDenied</span>
                                </a>
                            }
                        </li>
                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid" id="divcontainerfluid">
                    <!--<div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 id="h4pagetitle" class="page-title"></h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="/Home/Dashboard/">Gymone</a></li>
                                    <li id="libreadcrumbitemactive" class="breadcrumb-item active"></li>
                                </ol>
                            </div>
                        </div>-->
                    <!-- end row -->
                    <!--</div>-->
                    <!-- end page-title -->
                    @*<div class="row" id="divcontainerfluid">*@
                    @RenderBody()
                    @*</div>*@
                </div>
                <!-- container-fluid -->
            </div>
            <!-- content -->
            <footer class="footer">
                ©@System.DateTime.Now.Year Gymone <span class="d-none d-sm-inline-block"> - Designed by Srinivasulareddy.com</span>.
            </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
    </div>

    <!-- END wrapper -->


    @section Scripts  {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

</body>
</html>